@font-face{
    font-family: 'segoiuisemibold';
    src: url('../Segoe UI Regular.ttf');
}

@font-face {
    font-family: 'MyraidProBold';
    src: url('../fonts/Myriad_Pro/MyriadPro-Bold.eot');
    src: url('../fonts/Myriad_Pro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Myriad_Pro/MyriadPro-Bold.woff') format('woff'),
        url('../fonts/Myriad_Pro/MyriadPro-Bold.ttf') format('truetype'),
        url('../fonts/Myriad_Pro/MyriadPro-Bold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyraidProReg';
    src: url('../fonts/Myriad_Pro/MyriadPro-Regular.eot');
    src: url('../fonts/Myriad_Pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Myriad_Pro/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/Myriad_Pro/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/Myriad_Pro/MyriadPro-Regular.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyraidProSemiBold';
    src: url('../fonts/Myriad_Pro/MyriadPro-Semibold.eot');
    src: url('../fonts/Myriad_Pro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Myriad_Pro/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/Myriad_Pro/MyriadPro-Semibold.ttf') format('truetype'),
        url('../fonts/Myriad_Pro/MyriadPro-Semibold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansReg';
    src: url('../fonts/Open_Sans/OpenSans.eot');
    src: url('../fonts/Open_Sans/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans/OpenSans.woff') format('woff'),
        url('../fonts/Open_Sans/OpenSans.ttf') format('truetype'),
        url('../fonts/Open_Sans/OpenSans.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/Open_Sans/OpenSans-Bold.eot');
    src: url('../fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
        url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/Open_Sans/OpenSans-Bold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUIReg';
    src: url('../fonts/Segoe_UI/SegoeUI.eot');
    src: url('../fonts/Segoe_UI/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe_UI/SegoeUI.woff') format('woff'),
        url('../fonts/Segoe_UI/SegoeUI.ttf') format('truetype'),
        url('../fonts/Segoe_UI/SegoeUI.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUIBold';
    src: url('../fonts/Segoe_UI/SegoeUI-Bold.eot');
    src: url('../fonts/Segoe_UI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe_UI/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/Segoe_UI/SegoeUI-Bold.ttf') format('truetype'),
        url('../fonts/Segoe_UI/SegoeUI-Bold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUISemiBold';
    src: url('../fonts/Segoe_UI/SegoeUI-SemiBold.eot');
    src: url('../fonts/Segoe_UI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe_UI/SegoeUI-SemiBold.woff') format('woff'),
        url('../fonts/Segoe_UI/SegoeUI-SemiBold.ttf') format('truetype'),
        url('../fonts/Segoe_UI/SegoeUI-SemiBold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#wpfooter{
    margin-bottom: -40px;
}

#statbox{
    width: 980px;
    height: auto;
    background-color: white;
}

#stats-leftbar{
    width: 240px;
    height: 300px;
    float: left;
    margin-top: 5px;
}


#plugin-info .block-content, #plugin-info .block-content p {
     margin-bottom: 5px;
}

#stats-rightcontent{
    width: 395px;
    height: 550px;
    float: left;
    background-color: inherit;
    padding: 10px;
    padding-top: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

.tc-stats-item{
    width: 210px;
    background-color: #0077b3;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer !important;
}

.loader {
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
    color: #666;
    //margin-top: 200px;
}

#timeline_box{
    height: 500px;
    width: 350px;
    margin: 0 auto;
    overflow: auto;
}

.tc_twitter_avatar_sm{
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.tc_twitter_author{
    font-weight: bold;
    width: 50px;
    float: left;
}

.tc_tweet_box{
    width: 350px;
    margin: 20px 0px;
    padding-right: 10px;
}

.tc_tweet_left{
    width: 60px;
    float: left;
}

.tc_tweet_right{
    width: 280px;
    float: right;
}

.tc_text_panel{
    width: 250px;
    margin-top: 25px;
}

.tc_author_action_panel{
    width: 250px;
}

.tc_author_panel{
    width: 100px;
    float: left;
}

.tc_action_panel{
    width: 150px;
    float: left;
}

.tc_twitter_action{
    width: 30px;
    height: 30px;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer !important;
}

#stats-rightreply{
    width: 280px;
    height: 220px;
    float: left;
    display: none;
    background-color: white;
    padding: 10px;
    padding-top: 10px;
    margin-left: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

#stats-rightmessage{
    width: 280px;
    height: 220px;
    float: left;
    display: none;
    background-color: white;
    padding: 10px;
    padding-top: 10px;
    margin-left: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

#stats-rightchat{
    width: 280px;
    height: 220px;
    float: left;
    display: none;
    background-color: white;
    padding: 10px;
    padding-top: 10px;
    margin-left: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

#stats-rightmessage{
    width: 280px;
    height: 220px;
    float: left;
    display: none;
    background-color: white;
    padding: 10px;
    padding-top: 10px;
    margin-left: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

#stats-right-summary-rep, #stats-right-summary-ret{
    width: 280px;
    height: 40px;
    float: left;
    display: none;
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    font-size: 18px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}



totalrep, totalret{
    font-size: 24px;
    color: blue;
    font-weight: bold;
}

#reply_msg{
    width: 280px;
    height: 130px;
    resize: none;
}

#direct_msg{
    width: 280px;
    height: 130px;
    resize: none;
}

#retweets_box{
    margin-top: 10px;
    color: #005684;
    font-style: italic;
}

#retwet_count_line{
    margin-left: 10px;
}

.tc-analytics-bar{
    margin-top: 25px;
}

#stats-right-summary-chart{
    width: 280px;
    height: 40px;
    float: left;
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

#stats-right-summary-trash{
    width: 280px;
    height: 240px;
    float: left;
    display: none;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

#stats-right-summary-trash-rp{
    width: 280px;
    height: 240px;
    float: left;
    display: none;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

.whort{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.whortlink{
    float: left;
    margin-left: 20px;
    font-weight: bold;
}

#stats-right-dm-chat{
    width: 280px;
    height: 300px;
    float: left;
    display: none;
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ccc;
}

.tcdminbox{
    float: right;
    width: 145px;
    background: #E5F2B1;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.tcdmoutbox{
    float: left;
    width: 145px;
    background: #73a724;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#directbox{
    width: 240px;
    margin-left: 20px;
}

#senddmbox{
    width: 240px;
    margin-left: 20px;
    margin-top: 20px;
}

#dmfortextarea{
    width: 180;
    float: left;
}
#dmtextarea{
    width: 180px;
    height: 45px;
    resize: none;
}
#forsenddmbutton{
    float: right;
}

#main_page_box{
    width: 900px;
    height: auto;
    min-height: 870px;
    background: white;
    padding: 30px;
    margin: 15px;
}

.tc_plugin_version{
    width: 500px;
    float: left;
    background: #E8E8E8;
    padding: 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    margin-top: 20px;
}

.tc_current_version{
    background: #c3ff88;//#a2c094;
}

.tc_support_form{
    width: 320px;
    height: 300px;
    float: right;
    margin-top: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 20px;
    border: 1px solid #ccc;
}

.tc_support_text{
    width: 100%;
    height: 200px;
    resize: none;
}

.tcrighthelp{
    width: 500px;
    height: 350px;
    float: left;
    background: white;
    margin-left: 50px;
    padding: 20px;
}

//DT
th.tcthdt{
    width: 350px !important;
    height: 125px !important;
}

.tcpostaction{
    width: 70px;
    height: 58px;
    background-image: url('../images/tc_bird.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    vertical-align: bottom;
    cursor: pointer !important;
}
.tcpostaction b a{
    text-decoration: none !important;
    color: #28b7e9;

}

.tcpostedaction{
    width: 70px;
    height: 58px;
    background-image: url('../images/tc_ok.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.tcpostedaction b span{
    color: #717a87;
}

.tcpostedview{
    width: 70px;
    height: 58px;
    background-image: url('../images/tc_link.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.tcpostedview a{
    text-decoration: none;
    color: #28b7e9;
}



.tcpostview{
    width: 70px;
    height: 58px;
    background-image: url('../images/tc_cross.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    vertical-align: bottom;
    color: #717a87;
}



.thimage{
    background-image: url('../images/tc_photo.png');
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-size: 33%;
    font-weight: 200 !important;
}

.thimage:hover{
    background-color: #28b7e9 !important;
}

.thprtcts{
    background-image: url('../images/tc_products.png');
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-size: 35%;
    font-weight: 200 !important;
}

.thprtcts:hover{
    background-color: #28b7e9 !important;
}

.tcthprc{
    background-image: url('../images/tc_price.png');
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-size: 33%;
    font-weight: 200 !important;
}


.tcthprc:hover{
    background-color: #28b7e9 !important;
}

.tcthdt{
    background-image: url('../images/tc_dt.png');
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-size: 33%;
    font-weight: 200 !important;
}

.tcthdt:hover{
    background-color: #28b7e9 !important;
}

.tcthcat{
    background-image: url('../images/tc_cat.png');
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-size: 33%;
    font-weight: 200 !important;
}

.tcthcat:hover{
    background-color: #28b7e9 !important;
}

.tcthist{
    background-image: url('../images/tc_ist.png');
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-size: 33%;
    font-weight: 200 !important;
}

.tcthist:hover{
    background-color: #28b7e9 !important;
}

.tcthtst{
    background-image: url('../images/tc_tst.png');
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-size: 33%;
    font-weight: 200 !important;
}

.tcthtst:hover{
    background-color: #28b7e9 !important;
}

.tcthact{
    background-image: url('../images/tc_act.png');
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-size: 33%;
    font-weight: 200 !important;
}

.tcthact:hover{
    background-color: #28b7e9 !important;
}

.searchboxtc{
    width: 35px;
    height: 30px;
    float: right;
    background-color: #28b7e9;
    background-image: url('../images/tc_zoom.png');
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid #24A4D1;
    background-size: 90%;
}


#mytcdfui{
    font-family: 'segoiuisemibold';
}


.thimage.sorting_asc{

}

.sortable_img{
    display: none;
    background-size: 0px;
}

.allhover{
    width: 19px;
    position: absolute;
}


//Widgets style

#main_twittercart_widget{
    height: 400px !important;
}

.tc_widget_activity_row{
    margin: 2%;
    width: 96%;
    height: 70px !important;
    background: transparent;
}

.tc_widget_activity_panel{
    margin: 2%;
    width: 220px;
    height: 70px !important;
    background: transparent;
    float: left;
    //position: relative;
}

.tc_widget_icon{
    width: 40px;
    height: 40px;
    margin: 5%;
    background: red;
    float: left;
    background-size: 40px !important;
}

.tc_widget_value{
    width: 140px;
    height: 80px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

#tc_widget_products{
    background: url('../images/widget_product.png');
    background-position: center;
    background-repeat: no-repeat;
}

#tc_widgeta_mreplied{
    background: url('../images/reply2.png');
    background-position: center;
    background-repeat: no-repeat;
}

#tc_widgeta_mretweeted{
    background: url('../images/retweet8.png');
    background-position: center;
    background-repeat: no-repeat;
}

.tc_value_des{
    color: #ccc;
    font-style: italic;
    font-size: 12px;
}

.account_widget{
    height: 500px !important;
    width: 100%;
}

/*TABS*/
/*  idTabs ~ Sean Catchpole  */


/* Style for Usual tabs */
.usual {
    background:white;
    color:#111;
}
.usual li { list-style:none; float:left; }
.usual>ul a {
    display:block;
    padding:6px 10px;
    text-decoration:none!important;
    margin:1px;
    margin-left:0;
    font:10px Verdana;
    color:#FFF;
    background:#444;
}
.usual>ul a:hover {
    color:#FFF;
    background:#111;
}
.usual>ul a.selected {
    margin-bottom:0;
    color:#000;
    background:snow;
    border-bottom:1px solid snow;
    cursor:default;
}
.usual div {
    padding:10px 10px 8px 10px;
    *padding-top:3px;
    *margin-top:-15px;
    clear:left;
    background:snow;
    font:10pt Georgia;
    height: 450px;
}
.usual div a { color:#000; font-weight:bold; }

#usual2 { background:#0A0A0A; border:1px solid #1A1A1A; }
#usual2 a { background:#222; }
#usual2 a:hover { background:#000; }
#usual2 a.selected { background:snow; }
#tabs3 { background:#FF9; }

/* Style for various uses of tabs */

#freedom {
    float:left;
    width:90px;
    color:#68D;
    font:1.3em Cambria, Times New Roman, serif;
    font-style:italic;
}
#freedom li a {
    width:80px;
    text-align:left;
    padding:2px 6px 4px;
    background:#222;
    margin:1px;
    *margin:0px;
    display:block;
    text-decoration:none;
    font-weight:bold;
    font-size:0.7em;
    font-style:normal;
}
#freedom li a:hover {
    background:#0A0A0A;
    width:86px;
}
#freedom li a.selected {
    background:#FFF;
    color:#000;
    width:90px;
    cursor:default;
}

.tabContainer {
    width:400px;
    margin:20px auto;
    padding-top:2px;
    background:#181818;
    border:1px solid #222;
}
.tabContainer h3 {
    padding-bottom:4px;
    color:#F60;
}
.tabContainer p {
    padding:2px 12px 10px;
    text-align:left;
}

#three {
    position:absolute;
    top:0;
    left:0;
    border-bottom:1px solid #444;
    border-right:1px solid #444;
}

#four {
    color:#D66;
    font:2em Cambria, Times New Roman, serif;
    position:fixed;
    bottom:10px;
    right:20px;
}

.imagebox {
    background:#040404;
    border:1px solid #1A1A1A;
    width:100px;
    height:90px;
    margin:10px auto;
}
.imagebox a {
    display:block;
    width:25px;
    height:25px;
    line-height:23px;
    float:left;
    text-decoration:none;
    background:#111;
}
.imagebox a:hover { background:#000; }
.imagebox a.selected {
    background:snow;
    color:#222;
    font-weight:bold;
}
.imagebox img { margin-top:6px; clear:both; }


/* Styles for Advanced Section */

#adv2 {
    width:500px;
    margin:6px auto;
    background:#181818;
}
#adv2 ul {
    display:block;
    width:50px;
    height:50px;
    float:left;
}
#adv2 li { float:left; }
#adv2 li.split { clear:both; }
#adv2 li a {
    display:block;
    height:25px;
    width:25px;
    line-height:22px;
    text-decoration:none;
    background:#222;
}
#adv2 li a:hover {
    background:#0A0A0A;
}
#adv2 li a.selected {
    background:snow;
    color:#111;
    font-weight:bold;
}

#adv2 span {
    height:50px;
    display:block;
    line-height:45px;
    width:450px;
    float:right;
    background:#181818;
}

#adv3 a {
    color:snow;
    font-size:2em;
    font-weight:bold;
    text-decoration:none;
    margin:6px;
}
#adv3 a:hover { color:#68D; }
#adv3 p {
    color:#888;
    margin:5px;
    font-style:italic; 
}
#adv3 p a {
    margin:0;
    color:#CCC;
    font-size:1em;
    font-weight:bold;
    text-decoration:underline;
}
#adv3 p a:hover { color:#FFF; }

/*#message {
  margin:10px auto;
  border:6px solid #222;
  width:240px;
  height:40px;
  background:#0D0D0D;
  font-size:1.3em;
  line-height:2em;
  color:#FC4;
}*/


.widget_item{
    height: 80px !important;
    background: rgb(241, 241, 241) !important;
    margin-bottom: 20px !important;
}

.dtitem{
    color: #ccc;
}

.right .trashpan{
    position: absolute;
    left: 33px;
    cursor: pointer;
    display: none;
}

.left .trashpan{
    position: absolute;
    left: 395px !important;
    cursor: pointer;
    display: none;
}

.trashpan{
    width: 17px !important;
}

/*-----------------------------------------Page_Instructions-----------------------------------------*/


.instr #main>div {background-color: transparent}
.instr #main>.opt_details>div>span {
    font: 22px/75px "Verdana";
    color: #fff;
    background-color: #26b8ea;
    display: block;
    border-bottom: 4px solid #1da4d2;
    text-indent: 62px;
}
.instr #main .opt_settings>span {
    background-image: url("../images/instr_ico01.png");
    background-position: 25px 27px;
    background-repeat: no-repeat;
}
.instr .instr_vendor_container>span {
    background-image: url("../images/instr_ico03.png");
    background-position: 25px 27px;
    background-repeat: no-repeat;
}
.instr .instr_costumer_container>span {
    background-image: url("../images/instr_ico02.png");
    background-position: 25px 27px;
    background-repeat: no-repeat;
}
.instr_admin_contant strong, .instr_vendor_contant strong, .instr_costumer_contant strong {
    font: 16px "Verdana";
    font-weight: bold;
    display: block;
    color: #222221;
    margin:12px 0 7px;
}
.instr_admin_contant p, .instr_vendor_contant p, .instr_costumer_contant p,
.instr_admin_contant li, .instr_vendor_contant li, .instr_costumer_contant li {
    font: 14px/19px "Verdana";
    display: block;
    color: #727b88;
}
.instr_admin_contant, .instr_vendor_contant, .instr_costumer_contant {background-color: #fff}
.instr_admin_contant {
    box-sizing: border-box;
    padding: 12px 8% 27px;
}
.instr_admin_contant ul {
    padding-left: 7px;
}
.instr_vendor_contant {
    padding: 8px 9% 27px;
}
.instr_vendor_container {
    margin-bottom: 25px;
}
.instr_costumer_contant {
    padding: 10px 9% 27px;
}

/*-----------------------------------------TABs-----------------------------------------*/

#tabs {
    width: 100%;
    background-color: #fff;
}
#tabs>nav ul {
    display: table;
    width: 100%;
    margin: 0 auto;
}
#tabs>nav ul li {
    display: table-cell;
    //max-width: 0;
    text-align: center;
    background-color: #727c88;
    font: 16px/42px "Verdana";
    color: #fff;
    border-bottom: 4px solid #606874;
    border-right: 1px solid #606874;
    cursor: default;
    padding-left: 7px;
    padding-right: 7px;
}
#tabs>nav ul li:hover, #tabs>nav ul li.active {
    background-color: #26b8eb;
    border-bottom: 4px solid #1da4d2;
    border-right: 1px solid #527c92;
}
#tabs>div {
    text-align: right;
    padding: 5px 4.5%;
    display: none;
}
#tabs>div.active {
    display: block;
}
#tabs>div>button {
    font: 16px "Verdana";
    color: #fff;
    background-color: #cdd2d8;
    border: none;
    cursor: pointer;
    margin: 21px 0 25px;
    padding: 3px 17px;
}

.tab_box {
    text-align: left;
    border-bottom: 2px solid #727b88;
    padding: 20px 0 0;
}
.tab_box p {
    padding-right: 20%;
    color: #727b88;
    font: normal 14px/18px "Verdana";
}
.tab_box p strong {
    color: #363a40;
    font: normal 16px/16px "Verdana";
    font-weight: bold;
}
.tab_box p a {
    color: inherit;
    font: inherit;
}
.tab_box p a.blue {
    color: #26b8eb;
    font: inherit;
}
.tab_box p a.tab_account {
    color: #26b8eb;
    font: 16px/16px "Verdana";
    font-weight: bold;
}
.tab_date {
    text-align: right;
    line-height: 11px;
}
.tab_date span {
    color: #727b88;
    font: 11px/11px "Verdana";
}
.tab_date span a.tab_account {
    color: #26b8eb;
    font-family: "Verdana";
    font-weight: bold;
}

#activity {
    width: 100%;
}
.activity_head {
    background: #26b8ea url("../images/activ_ico01.png") 3% 21px no-repeat !important;
    border-bottom: 4px solid #1da4d2  !important;
    padding: 0 4.5% 0 11%  !important;
}
.activity_head span {
    font: 22px/73px "Verdana";
    color: #fff;
}
.activity_head img {
    float: right;
    margin-top: 37px;
    cursor: pointer;
}

.account_head {
    background: #26b8ea url("../images/wacc.png")3% 27px no-repeat !important;
    border-bottom: 4px solid #1da4d2  !important;
    padding: 0 4.5% 0 11%  !important;
}
.account_head span {
    font: 22px/73px "Verdana";
    color: #fff;
}
.account_head img {
    float: right;
    margin-top: 37px;
    cursor: pointer;
}

.activity_contant {
    background-color: #fff;
    box-sizing: border-box;
    //border: 1px solid #e6e8e9;
    border-top: none;
    padding: 10px 3% 0;
}
.activity_contant>div {
    background-color: #e7ebf0;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 8px 4% 10px 75px;
}
.activity_contant>div>a {
    font: 18px "Verdana";
    color: #26b8ea;
}
.activity_contant>div>p {
    font-family: "Verdana";
    font-weight: bold;
    color: #363a40;
}
.activity_contant>div>span {
    font: 13px "Verdana";
    font-style: italic;
    color: #989fa9;
}
.most_replied {
    background: url("../images/activ_ico02.png")20px center no-repeat;
}
.most_retweeted {
    background: url("../images/activ_ico03.png")18px center no-repeat;
}
.activity_contant>div.total_posted {
    padding-left: 20px;
}
.activity_contant>div.total_posted p {
    font: 22px "Verdana";
    font-style: italic;
    color: #26b8ea;
}
.activity_contant>div.total_posted p span {
    font: 34px "Verdana";
    font-weight: bold;
    font-style: normal;
    color: #363a40;
    vertical-align: middle;
    padding: 0 8px 6px;
}

/*SPINNER*/
.tcspinner {
    position: relative;
    margin: 0 auto;
    top: 200px;
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.tcspinner > div {
    background-color: #727b88;
    height: 100%;
    width: 15px;
    margin-left: 5px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.tcspinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.tcspinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.tcspinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.tcspinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.howdo_contain ul > li {padding-left: 44px;}
.howdo_contain ul > li > span {margin-left: -44px;}
.howdo_contain ul > li:last-child {height: 24px;}

/*---------------------------------------@media 480---------------------------------------*/

@media screen and (max-width:480px) {

    /*---------------------------------------Dashboard---------------------------------------*/

    #twittercart_account_widget>h3.account_head {
        padding: 22px 4.5% 22px 14% !important;
    }
    .account_head span {
        line-height: 29px;
    }
    .account_head img {
        margin-top: 0;
    }
    #tabs > nav ul li {
        padding: 0;
        font-size: 14px;
    }

    /*---------------------------------------FAQ page---------------------------------------*/

    #wrapper.faq #headertitle {
        line-height: 34px;
        padding-top: 19px;
        padding-bottom: 10px;
    }
    .faq_container>span {
        line-height: 25px;
        text-indent: 0;
        padding: 22px 58px;
    }
    .questions {
        padding: 16px 13px 0;
    }
    .questions > ul li {
        padding-left: 73px;
    }

    /*---------------------------------------Options page---------------------------------------*/

    #wrapper.opt #headertitle {
        line-height: 34px;
        padding-top: 19px;
        padding-bottom: 10px;
    }
    .opt #main > div {
        width: 100%;
        margin: 0 0 10px;
    }
    #optionsform {
        padding: 17px 15px;
    }
    .opt_settings > form > label {
        line-height: 16px;
        font-size: 14px;
        vertical-align: middle;
    }
    .opt_settings > form > label + input[type="text"] {
        margin-bottom: 18px !important;
    }
    .opt #main > div.opt_details > span {
        line-height: 25px;
        text-indent: 0;
        padding: 25px 8px 22px 62px;
    }
    .howdo_contain {
        padding-left: 28px;
    }
    .howdo_contain ul {
        margin-bottom: 45px;
    }

    /*---------------------------------------Support page---------------------------------------*/

    #wrapper.upd #main > div {
        margin: 0 0 15px;
        float: none;
        width: 100%;
    }
    #wrapper.upd #headertitle {
         line-height: 34px;
         padding-top: 19px;
         padding-bottom: 10px;
     }
    #wrapper.upd #main .update_menu > span {
        line-height: 25px;
        text-indent: 0;
        padding: 22px 58px;
    }

    /*---------------------------------------Instructions page---------------------------------------*/

    .opt.instr #main > div {
        background-color: transparent;
    }
    .instr #main > .opt_details > div.instr_costumer_container > span {
        line-height: 25px;
        text-indent: 0;
        padding: 22px 58px;
    }



}

.post_container {
    background-color: #fff;
    width: 460px;
    padding-bottom: 20px;
}
.post_container > label {
    display: block;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.post_edit > textarea {
    border: 1px solid #ced1d4;
    cursor: default;
    font-family: "Trebuchet MS";
    height: 113px;
    padding: 9px;
    resize: none;
    width: 70%;
}
.post_attach {
    background-color: #fff;
}
.post_container > label > span {
    display: inline-block;
    width: 120px;
}
.post_container > p {
    background-color: #fff;
    margin: 0;
    padding: 0 20px;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}
.post_container > p > button {
    border: none;
    border-bottom: 4px solid #1da4d2;
    background-color: #26b8ea;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 27px;
}

#products th{
    width: 12.5% !important;
}


.post_container {
    background-color: #f5fafe;
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 500px;
}
.post_market {
    overflow: hidden;
}
.post_market > a {
    background-color: #fff;
    box-sizing: border-box;
    float: left;
    height: 110px;
    width: 60%;
}
.post_market .m_browserweb {
    background: url("../images/bwi.png") no-repeat scroll 0 -8px / 100% auto #fff;
    margin-right: 1%;
    padding: 62px 9px 0;
    text-decoration: none;
    width: 39%;
}
.m_browserweb > p {
    color: #292f33;
    font: 700 14px "Open Sans";
    margin: 0;
}
.m_browserweb > span {
    color: #717a87;
}
.m_twt {
    text-align: center;
}
.m_twt > img {
    height: 100%;
}
.post_edit {
    display: block;
    padding: 17px;
}
.post_edit > a {
    background-color: #fff;
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    width: 34px;
}

.post_edit img {
    width: 100%;
}
.post_edit > textarea {
    border: 1px solid #ced1d4;
    height: 91px;
    padding: 9px;
    resize: none;
    width: 90%;
}
.post_act {
    padding: 0 19px 0 61px;
    text-align: right;
}
.post_act > label {
    display: inline-block;
    float: left;
}
.post_act label > span {
    background: url("../images/add_twt.png") no-repeat scroll 0 6px transparent;
    display: inline-block;
    line-height: 32px;
    padding-left: 29px;
}
.post_act label > input {
    margin: 0 5px;
}
.post_act > input {
    background-color: #26b8ea;
    border: none;
    border-bottom: 4px solid #1da4d2;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 1px 25px;
}